<hr style='margin-bottom:30px;'>

# Pyspark Tutorial !

## Part 1

In [26]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\abdal\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\abdal\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [27]:
from pyspark.sql import SparkSession

In [28]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [29]:
spark

In [30]:
df_pyspark=spark.read.csv('higher_ed_employee_salaries.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [31]:
df_pyspark.show()

+------------------+--------------------+--------------------+--------------------+---------+----+
|               _c0|                 _c1|                 _c2|                 _c3|      _c4| _c5|
+------------------+--------------------+--------------------+--------------------+---------+----+
|              Name|              School|     Job Description|          Department| Earnings|Year|
|        Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|      Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
| Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|        Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|     Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|     Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|    Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
| Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|       Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|      Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|      Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|     Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|     Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|   Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|        Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
| Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|   Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
+------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [32]:
df_pyspark=spark.read.option('header','true').csv('higher_ed_employee_salaries.csv')
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [33]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Earnings: string (nullable = true)
 |-- Year: string (nullable = true)

## Part 2

In [72]:
import pyspark
from pyspark.sql import SparkSession

In [73]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [74]:
spark

In [75]:
## Read the dataset
spark.read.option('header','true').csv('higher_ed_employee_salaries.csv').show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [76]:
df_pyspark = spark.read.option('header','true').csv('higher_ed_employee_salaries.csv',inferSchema=True)

In [77]:
### check schema (.info())
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Earnings: double (nullable = true)
 |-- Year: integer (nullable = true)

In [78]:
df_pyspark = spark.read.options(header=True, inferSchema=True).csv('higher_ed_employee_salaries.csv')

In [79]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [80]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Earnings: double (nullable = true)
 |-- Year: integer (nullable = true)

In [81]:
df_pyspark = spark.read.csv('higher_ed_employee_salaries.csv',inferSchema=True, header=True)
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [82]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Earnings: double (nullable = true)
 |-- Year: integer (nullable = true)

In [83]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [84]:
df_pyspark.columns

['Name', 'School', 'Job Description', 'Department', 'Earnings', 'Year']

In [85]:
df_pyspark.head(3)

[Row(Name='Don Potter', School='University of Akron', Job Description='Assistant Lecturer', Department='Social Work', Earnings=2472.0, Year=2019),
 Row(Name='Emily Potter', School='The Ohio State University', Job Description='Administrative Assistant 3', Department='Arts and Sciences | Chemistry and Biochemistry Administration', Earnings=48538.02, Year=2022),
 Row(Name='Carol Jean Potter', School='The Ohio State University', Job Description='Associate Professor-Clinical', Department='Pediatrics', Earnings=22722.8, Year=2013)]

In [86]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [87]:
df_pyspark.select('Name').show()

+--------------------+
|                Name|
+--------------------+
|          Don Potter|
|        Emily Potter|
|   Carol Jean Potter|
|          Kim Potter|
|       Graham Potter|
|       Amanda Potter|
|  Susan Marie Potter|
|      Katrina Potter|
|  Pamela Lynn Potter|
|   Kimberly J Potter|
|         Adam Potter|
|        Maria Potter|
|        Scott Potter|
|       Ryan M Potter|
|       Archie Potter|
|     Jesse W. Potter|
|          Kim Potter|
|   Carol Jean Potter|
|     Kimberly Potter|
|Richard Scott Potter|
+--------------------+
only showing top 20 rows

In [88]:
df_pyspark.select(['Name','Year']).show()

+--------------------+----+
|                Name|Year|
+--------------------+----+
|          Don Potter|2019|
|        Emily Potter|2022|
|   Carol Jean Potter|2013|
|          Kim Potter|2022|
|       Graham Potter|2012|
|       Amanda Potter|2013|
|  Susan Marie Potter|2013|
|      Katrina Potter|2012|
|  Pamela Lynn Potter|2012|
|   Kimberly J Potter|2015|
|         Adam Potter|2022|
|        Maria Potter|2018|
|        Scott Potter|2021|
|       Ryan M Potter|2013|
|       Archie Potter|2014|
|     Jesse W. Potter|2015|
|          Kim Potter|2021|
|   Carol Jean Potter|2015|
|     Kimberly Potter|2020|
|Richard Scott Potter|2013|
+--------------------+----+
only showing top 20 rows

In [89]:
df_pyspark.dtypes

[('Name', 'string'),
 ('School', 'string'),
 ('Job Description', 'string'),
 ('Department', 'string'),
 ('Earnings', 'double'),
 ('Year', 'int')]

In [90]:
df_pyspark.describe().show()

+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+
|summary|           Name|              School|     Job Description|          Department|          Earnings|              Year|
+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+
|  count|         934348|              934348|              907680|              873896|            924673|            934348|
|   mean|           NULL|                NULL|2.6315789217894737E7|   945.9459459459459| 54659.12594471779|  2017.10282785429|
| stddev|           NULL|                NULL| 4.524139237894834E7|  229.24343513512565|61373.982074523745|3.1839096224374432|
|    min|     * Aparnnaa|Bowling Green Sta...|'Director of Ener...|#Knowmeansno 2017...|              0.02|              2011|
|    max|zachariah brown|Youngstown State ...|temp Shuttle Bus ...|    iSchool MS Other|        8021376.56|              2022|
+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+

In [91]:
### Adding Columns in data frames
df_pyspark.withColumn('Year + 2',df_pyspark['Year'] +2).show()

+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
|                Name|              School|     Job Description|          Department| Earnings|Year|Year + 2|
+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|    2021|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|    2024|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|    2015|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|    2024|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|    2014|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|    2015|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|    2015|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|    2014|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|    2014|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|    2017|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|    2024|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|    2020|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|    2023|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|    2015|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|    2016|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|    2017|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|    2023|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|    2017|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|    2022|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|    2015|
+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
only showing top 20 rows

In [92]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [93]:
df_pyspark = df_pyspark.withColumn('Year + 2', df_pyspark['Year'] + 2)

In [94]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
|                Name|              School|     Job Description|          Department| Earnings|Year|Year + 2|
+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|    2021|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|    2024|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|    2015|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|    2024|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|    2014|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|    2015|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|    2015|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|    2014|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|    2014|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|    2017|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|    2024|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|    2020|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|    2023|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|    2015|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|    2016|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|    2017|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|    2023|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|    2017|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|    2022|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|    2015|
+--------------------+--------------------+--------------------+--------------------+---------+----+--------+
only showing top 20 rows

In [96]:
### Dropping columns
df_pyspark.drop('Year + 2').show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [97]:
df_pyspark = df_pyspark.drop('Year + 2')

In [98]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [99]:
### Renaming Columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|            New Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

## Part 3

In [100]:
import pyspark
from pyspark.sql import SparkSession

In [101]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [102]:
spark

In [105]:
df_pyspark = spark.read.csv('Book1.csv', inferSchema=True, header=True)
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Krish|  31|        10| 30000|
|  Sam|  28|         8| 40000|
| Adam|  27|         4| 45000|
|Smith|  20|         3| 30000|
| Paul|  24|         2| 70000|
|  Mat|  21|         5| 34000|
|  Bob|NULL|      NULL| 40000|
| NULL|  34|        10| 80000|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [106]:
### drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  28|         8| 40000|
|  27|         4| 45000|
|  20|         3| 30000|
|  24|         2| 70000|
|  21|         5| 34000|
|NULL|      NULL| 40000|
|  34|        10| 80000|
|  36|      NULL|  NULL|
+----+----------+------+

In [107]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
|  Sam| 28|         8| 40000|
| Adam| 27|         4| 45000|
|Smith| 20|         3| 30000|
| Paul| 24|         2| 70000|
|  Mat| 21|         5| 34000|
+-----+---+----------+------+

In [108]:
### any==how
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
|  Sam| 28|         8| 40000|
| Adam| 27|         4| 45000|
|Smith| 20|         3| 30000|
| Paul| 24|         2| 70000|
|  Mat| 21|         5| 34000|
+-----+---+----------+------+

In [109]:
##threshold
df_pyspark.na.drop(how='any',thresh=2).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Krish|  31|        10| 30000|
|  Sam|  28|         8| 40000|
| Adam|  27|         4| 45000|
|Smith|  20|         3| 30000|
| Paul|  24|         2| 70000|
|  Mat|  21|         5| 34000|
|  Bob|NULL|      NULL| 40000|
| NULL|  34|        10| 80000|
+-----+----+----------+------+

In [110]:
###subset 
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
|  Sam| 28|         8| 40000|
| Adam| 27|         4| 45000|
|Smith| 20|         3| 30000|
| Paul| 24|         2| 70000|
|  Mat| 21|         5| 34000|
| NULL| 34|        10| 80000|
+-----+---+----------+------+

In [116]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [121]:
### Filling missing values
df_pyspark.na.fill(1,['Age','Experience']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
|  Sam| 28|         8| 40000|
| Adam| 27|         4| 45000|
|Smith| 20|         3| 30000|
| Paul| 24|         2| 70000|
|  Mat| 21|         5| 34000|
|  Bob|  1|         1| 40000|
| NULL| 34|        10| 80000|
| NULL| 36|         1|  NULL|
+-----+---+----------+------+

In [122]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Krish|  31|        10| 30000|
|  Sam|  28|         8| 40000|
| Adam|  27|         4| 45000|
|Smith|  20|         3| 30000|
| Paul|  24|         2| 70000|
|  Mat|  21|         5| 34000|
|  Bob|NULL|      NULL| 40000|
| NULL|  34|        10| 80000|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [123]:
from pyspark.ml.feature import Imputer

In [127]:
imputer = Imputer(inputCols=['Age','Experience','Salary'],outputCols=[f"{x}_imputed" for x in ['Age','Experience','Salary']]).setStrategy('median')

In [128]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
|Krish|  31|        10| 30000|         31|                10|         30000|
|  Sam|  28|         8| 40000|         28|                 8|         40000|
| Adam|  27|         4| 45000|         27|                 4|         45000|
|Smith|  20|         3| 30000|         20|                 3|         30000|
| Paul|  24|         2| 70000|         24|                 2|         70000|
|  Mat|  21|         5| 34000|         21|                 5|         34000|
|  Bob|NULL|      NULL| 40000|         27|                 5|         40000|
| NULL|  34|        10| 80000|         34|                10|         80000|
| NULL|  36|      NULL|  NULL|         36|                 5|         40000|
+-----+----+----------+------+-----------+------------------+--------------+

## Part 4

In [133]:
from pyspark.sql import SparkSession

In [134]:
spark = SparkSession.builder.appName("practice").getOrCreate()

In [135]:
df_pyspark = spark.read.csv('higher_ed_employee_salaries.csv', inferSchema=True, header=True)
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

### Filter Operations

In [136]:
df_pyspark.filter("Earnings<=20000").show()

+----------------+--------------------+--------------------+--------------------+--------+----+
|            Name|              School|     Job Description|          Department|Earnings|Year|
+----------------+--------------------+--------------------+--------------------+--------+----+
|      Don Potter| University of Akron|  Assistant Lecturer|         Social Work|  2472.0|2019|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|  3075.2|2012|
|   Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|  2450.0|2014|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...| 8031.69|2014|
|Brianna M Potter|The Ohio State Un...|Clinical Inst HS ...|Vet Clinical Scie...|14601.25|2015|
|  Theresa Potter|The Ohio State Un...|             Tutor 3|Undergraduate Edu...|   471.0|2022|
|      Don Potter| University of Akron|  Assistant Lecturer|         Social Work|  2472.0|2018|
|      Ana Potter|The Ohio State Un...|Patient Care Asso...|University Hospitals| 6583.86|2019|
|Norman M. Potter|Kent State Univer...|Faculty Part-time...|Teaching, Learnin...|  3075.0|2021|
| Jennifer Potter|     Ohio University|                NULL|Southern Campus D...|   600.0|2013|
|Ana Maria Potter|The Ohio State Un...|Patient Care Asso...|University Hospitals| 6388.92|2018|
|    Derek Potter|The Ohio State Un...|          Nursing-A4|  Gahanna Ambulatory| 7500.01|2020|
|     Luke Potter|The Ohio State Un...|Patient Care Asso...|Cancer Hosp & Res...| 6784.69|2019|
|  Nichole Potter|The Ohio State Un...|Patient Revenue C...|University Hospitals|  7895.5|2020|
|    Debra Potter|Kent State Univer...|Faculty Part-Time...|CoN Accel Sec Degree| 5516.68|2022|
|    Kaley Potter|     Ohio University|Associate Lab Man...|          PSYCHOLOGY|10455.45|2021|
|   Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online| 5828.02|2015|
|  Michael Potter|     Ohio University|                NULL|Ping Recreation C...| 4026.84|2015|
| Jennifer Potter|     Ohio University|       SEMESTER APPT|       DEAN SOUTHERN|   540.0|2012|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|18419.31|2013|
+----------------+--------------------+--------------------+--------------------+--------+----+
only showing top 20 rows

In [137]:
df_pyspark.filter("Earnings<=20000").select(['Name','School']).show()

+----------------+--------------------+
|            Name|              School|
+----------------+--------------------+
|      Don Potter| University of Akron|
|   Graham Potter|    Miami University|
|   Archie Potter|     Ohio University|
|   Graham Potter|    Miami University|
|Brianna M Potter|The Ohio State Un...|
|  Theresa Potter|The Ohio State Un...|
|      Don Potter| University of Akron|
|      Ana Potter|The Ohio State Un...|
|Norman M. Potter|Kent State Univer...|
| Jennifer Potter|     Ohio University|
|Ana Maria Potter|The Ohio State Un...|
|    Derek Potter|The Ohio State Un...|
|     Luke Potter|The Ohio State Un...|
|  Nichole Potter|The Ohio State Un...|
|    Debra Potter|Kent State Univer...|
|    Kaley Potter|     Ohio University|
|   Archie Potter|     Ohio University|
|  Michael Potter|     Ohio University|
| Jennifer Potter|     Ohio University|
|   Graham Potter|    Miami University|
+----------------+--------------------+
only showing top 20 rows

In [138]:
df_pyspark.filter(df_pyspark['Earnings']<=20000).show()

+----------------+--------------------+--------------------+--------------------+--------+----+
|            Name|              School|     Job Description|          Department|Earnings|Year|
+----------------+--------------------+--------------------+--------------------+--------+----+
|      Don Potter| University of Akron|  Assistant Lecturer|         Social Work|  2472.0|2019|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|  3075.2|2012|
|   Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|  2450.0|2014|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...| 8031.69|2014|
|Brianna M Potter|The Ohio State Un...|Clinical Inst HS ...|Vet Clinical Scie...|14601.25|2015|
|  Theresa Potter|The Ohio State Un...|             Tutor 3|Undergraduate Edu...|   471.0|2022|
|      Don Potter| University of Akron|  Assistant Lecturer|         Social Work|  2472.0|2018|
|      Ana Potter|The Ohio State Un...|Patient Care Asso...|University Hospitals| 6583.86|2019|
|Norman M. Potter|Kent State Univer...|Faculty Part-time...|Teaching, Learnin...|  3075.0|2021|
| Jennifer Potter|     Ohio University|                NULL|Southern Campus D...|   600.0|2013|
|Ana Maria Potter|The Ohio State Un...|Patient Care Asso...|University Hospitals| 6388.92|2018|
|    Derek Potter|The Ohio State Un...|          Nursing-A4|  Gahanna Ambulatory| 7500.01|2020|
|     Luke Potter|The Ohio State Un...|Patient Care Asso...|Cancer Hosp & Res...| 6784.69|2019|
|  Nichole Potter|The Ohio State Un...|Patient Revenue C...|University Hospitals|  7895.5|2020|
|    Debra Potter|Kent State Univer...|Faculty Part-Time...|CoN Accel Sec Degree| 5516.68|2022|
|    Kaley Potter|     Ohio University|Associate Lab Man...|          PSYCHOLOGY|10455.45|2021|
|   Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online| 5828.02|2015|
|  Michael Potter|     Ohio University|                NULL|Ping Recreation C...| 4026.84|2015|
| Jennifer Potter|     Ohio University|       SEMESTER APPT|       DEAN SOUTHERN|   540.0|2012|
|   Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|18419.31|2013|
+----------------+--------------------+--------------------+--------------------+--------+----+
only showing top 20 rows

In [139]:
df_pyspark.filter((df_pyspark['Earnings'] <= 20000) & (df_pyspark['Earnings'] >= 10000)).show()

+--------------------+--------------------+--------------------+--------------------+--------+----+
|                Name|              School|     Job Description|          Department|Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+--------+----+
|    Brianna M Potter|The Ohio State Un...|Clinical Inst HS ...|Vet Clinical Scie...|14601.25|2015|
|        Kaley Potter|     Ohio University|Associate Lab Man...|          PSYCHOLOGY|10455.45|2021|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|18419.31|2013|
|Elizabeth Ann Poe...|The Ohio State Un...|  Facilities Planner|  CFAES VP Operating| 19596.0|2014|
| Donald Poffenberger|     Ohio University|                NULL|Arts and Sciences...| 12952.1|2013|
| Donald Poffenberger|     Ohio University|                NULL|Arts and Sciences...|16291.51|2015|
| Donald Poffenberger|     Ohio University|       SEMESTER APPT|    EA ARTS SCIENCES| 16342.5|2012|
| Donald Poffenberger|     Ohio University|                NULL|Arts and Sciences...|16826.57|2014|
|   Alan Manal Gergis|University of Toledo|  Research Assistant|        Pharmacology|10490.37|2012|
|      Thomas Gerhard|    Miami University|Seasonal Asst Foo...|Intercoll Athleti...|11478.28|2019|
|     Sascha Gerhards|    Miami University|Visiting Assistan...|Arts & Science Admin|19999.98|2013|
|      Kenji Gerhardt|The Ohio State Un...|Research Assistan...|        Microbiology| 10764.0|2019|
| Jon Stuart Gerhardt| University of Akron|                NULL|                NULL| 12000.0|2016|
|Jessica Marie Ger...|Wright State Univ...|Coord RN and BSN ...|College of Nursin...|13655.74|2012|
|        Sarah Maghes|The Ohio State Un...|Patient Care Asso...|University Hospit...|10242.18|2022|
|        Sarah Maghes|The Ohio State Un...|Patient Care Asso...|       Health System|10067.48|2021|
|      Douglas Magill| University of Akron|  Assistant Lecturer|           Marketing|14840.65|2019|
|      Douglas Magill| University of Akron|       Research Asst|           Marketing| 12484.0|2020|
|      Joseph Maglich|    Miami University|    Visiting Faculty|Kinesiology and H...|10090.77|2016|
|Samuel Michael Ma...|The Ohio State Un...|Recreation Facili...|           Athletics| 13611.1|2018|
+--------------------+--------------------+--------------------+--------------------+--------+----+
only showing top 20 rows

## GroupBy and Aggregate Functions

In [140]:
from pyspark.sql import SparkSession

In [141]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [151]:
spark

In [142]:
df_pyspark = spark.read.csv('higher_ed_employee_salaries.csv', inferSchema=True, header=True)

In [143]:
df_pyspark.show()

+--------------------+--------------------+--------------------+--------------------+---------+----+
|                Name|              School|     Job Description|          Department| Earnings|Year|
+--------------------+--------------------+--------------------+--------------------+---------+----+
|          Don Potter| University of Akron|  Assistant Lecturer|         Social Work|   2472.0|2019|
|        Emily Potter|The Ohio State Un...|Administrative As...|Arts and Sciences...| 48538.02|2022|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics|  22722.8|2013|
|          Kim Potter|The Ohio State Un...|Manager 4, Compli...|Legal Affairs | C...|170143.44|2022|
|       Graham Potter|    Miami University|Building and Grou...|Assoc VP Housing,...|   3075.2|2012|
|       Amanda Potter|The Ohio State Un...| Program Coordinator|       WCA-Education| 48806.72|2013|
|  Susan Marie Potter|The Ohio State Un...|     Program Manager|  College of Nursing|  65216.0|2013|
|      Katrina Potter|    Miami University|Personnel Technician|VP for Acad Affrs...| 24324.14|2012|
|  Pamela Lynn Potter|Bowling Green Sta...|Administrative As...|Center for Teachi...| 51496.58|2012|
|   Kimberly J Potter|The Ohio State Un...|Policy Anlyst/Com...|Legal Affairs Adm...|  20868.0|2015|
|         Adam Potter|The Ohio State Un...|Assistant Profess...|Medicine | IM Car...|182512.15|2022|
|        Maria Potter|Central State Uni...| Program Coordinator|SAFRA: 2018-2019 ...| 39999.96|2018|
|        Scott Potter|The Ohio State Un...|         Director-00|          University|254467.84|2021|
|       Ryan M Potter|The Ohio State Un...|     Assistant Coach|           Athletics|  48863.8|2013|
|       Archie Potter|     Ohio University|         Facilitator|LLL Undergrad Online|   2450.0|2014|
|     Jesse W. Potter|Youngstown State ...|  Assistant Director|Athletic Administ...|  45547.2|2015|
|          Kim Potter|The Ohio State Un...|         Director-00|          University|125232.25|2021|
|   Carol Jean Potter|The Ohio State Un...|Associate Profess...|          Pediatrics| 28444.65|2015|
|     Kimberly Potter|The Ohio State Un...|         Director-00|Legal Affairs Adm...| 109248.0|2020|
|Richard Scott Potter|The Ohio State Un...| Research Specialist|Office of Energy ...| 130120.0|2013|
+--------------------+--------------------+--------------------+--------------------+---------+----+
only showing top 20 rows

In [144]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- School: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Earnings: double (nullable = true)
 |-- Year: integer (nullable = true)

In [146]:
df_pyspark.columns

['Name', 'School', 'Job Description', 'Department', 'Earnings', 'Year']

In [147]:
df_pyspark.dtypes

[('Name', 'string'),
 ('School', 'string'),
 ('Job Description', 'string'),
 ('Department', 'string'),
 ('Earnings', 'double'),
 ('Year', 'int')]

In [149]:
df_pyspark.describe().show()

+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+
|summary|           Name|              School|     Job Description|          Department|          Earnings|              Year|
+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+
|  count|         934348|              934348|              907680|              873896|            924673|            934348|
|   mean|           NULL|                NULL|2.6315789217894737E7|   945.9459459459459| 54659.12594471779|  2017.10282785429|
| stddev|           NULL|                NULL| 4.524139237894834E7|  229.24343513512565|61373.982074523745|3.1839096224374432|
|    min|     * Aparnnaa|Bowling Green Sta...|'Director of Ener...|#Knowmeansno 2017...|              0.02|              2011|
|    max|zachariah brown|Youngstown State ...|temp Shuttle Bus ...|    iSchool MS Other|        8021376.56|              2022|
+-------+---------------+--------------------+--------------------+--------------------+------------------+------------------+

In [156]:
df_pyspark.groupBy('Name').sum().show()

+--------------------+------------------+---------+
|                Name|     sum(Earnings)|sum(Year)|
+--------------------+------------------+---------+
|   Adil Sharag-Eldin|         125235.11|     2022|
|           Jinha Lee|          201369.0|     6059|
|       Jee Young Lee|         468191.32|    20180|
|   Theresa E Snowden|         286284.99|    12093|
|          Sadie Gunn|         277268.49|     8082|
|         Jessie Wang|         861180.06|    10096|
|Natisha Dee Denli...|282127.95999999996|    10078|
|   Robert James Ward|          776236.0|    18146|
|      Janie McCarthy|           16637.4|     4042|
|       Jack L. Davis|         1293763.6|    14109|
|Kylie Marie Salva...|2598.2500000000005|    10081|
|    Sorby Sheryl Ann|         532808.28|     6062|
|        Owens Albert|         245263.68|     4042|
|    James M. Deweese|          257878.4|    18135|
|Ewelina Skoracka-...|          69734.15|     8054|
|        Dingjie Wang|          175536.7|    10096|
|     Jennifer Hosier|           33750.0|     2022|
|Angelic Shavonne ...|          52623.88|     4031|
|          James Rose|         565481.25|    20181|
|     W. Charles Rose|           78992.5|     4023|
+--------------------+------------------+---------+
only showing top 20 rows

In [155]:
## groupby
df_pyspark.groupBy('Name').sum('Earnings').show()

+--------------------+------------------+
|                Name|     sum(Earnings)|
+--------------------+------------------+
|   Adil Sharag-Eldin|         125235.11|
|           Jinha Lee|          201369.0|
|       Jee Young Lee|         468191.32|
|   Theresa E Snowden|         286284.99|
|          Sadie Gunn|         277268.49|
|         Jessie Wang|         861180.06|
|Natisha Dee Denli...|282127.95999999996|
|   Robert James Ward|          776236.0|
|      Janie McCarthy|           16637.4|
|       Jack L. Davis|         1293763.6|
|Kylie Marie Salva...|2598.2500000000005|
|    Sorby Sheryl Ann|         532808.28|
|        Owens Albert|         245263.68|
|    James M. Deweese|          257878.4|
|Ewelina Skoracka-...|          69734.15|
|        Dingjie Wang|          175536.7|
|     Jennifer Hosier|           33750.0|
|Angelic Shavonne ...|          52623.88|
|          James Rose|         565481.25|
|     W. Charles Rose|           78992.5|
+--------------------+------------------+
only showing top 20 rows

In [157]:
df_pyspark.agg({'Earnings':'sum'}).show()

+--------------------+
|       sum(Earnings)|
+--------------------+
|5.054181796468003E10|
+--------------------+

In [158]:
df_pyspark.groupBy('School').agg({'Earnings':'mean'}).show()

+--------------------+------------------+
|              School|     avg(Earnings)|
+--------------------+------------------+
|Shawnee State Uni...| 31387.01575900411|
|University Of Cin...| 63213.39902334132|
| University of Akron| 41407.28348631205|
|     Ohio University| 49007.00529063546|
|University of Toledo|51088.955126552944|
|Wright State Univ...| 50714.43546736294|
|Central State Uni...| 38968.91623002283|
|Kent State Univer...|44468.285751957264|
|The Ohio State Un...| 61318.96018123243|
|Youngstown State ...| 27265.27913147411|
|Bowling Green Sta...| 52098.55918083363|
|Cleveland State U...|54164.395069356884|
|    Miami University|  47123.9723481652|
+--------------------+------------------+